In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from math import sqrt

In [2]:
df = pd.read_csv(
    'df_final.csv', 
    parse_dates=['time']
)

In [3]:
df.columns

Index(['time', 'generation biomass', 'generation fossil brown coal/lignite',
       'generation fossil gas', 'generation fossil hard coal',
       'generation fossil oil', 'generation hydro pumped storage consumption',
       'generation hydro run-of-river and poundage',
       'generation hydro water reservoir', 'generation nuclear',
       'generation other', 'generation other renewable', 'generation solar',
       'generation waste', 'generation wind onshore', 'total load actual',
       'price day ahead', 'price actual', 'temp_Barcelona',
       'temp_min_Barcelona', 'temp_max_Barcelona', 'pressure_Barcelona',
       'humidity_Barcelona', 'wind_speed_Barcelona', 'wind_deg_Barcelona',
       'rain_1h_Barcelona', 'rain_3h_Barcelona', 'snow_3h_Barcelona',
       'clouds_all_Barcelona', 'weather_id_Barcelona',
       'weather_main_Barcelona', 'weather_description_Barcelona',
       'weather_icon_Barcelona', 'temp_Bilbao', 'temp_min_Bilbao',
       'temp_max_Bilbao', 'pressure_Bilbao', 'humidity_Bilbao',
       'wind_speed_Bilbao', 'wind_deg_Bilbao', 'rain_1h_Bilbao',
       'rain_3h_Bilbao', 'snow_3h_Bilbao', 'clouds_all_Bilbao',
       'weather_id_Bilbao', 'weather_main_Bilbao',
       'weather_description_Bilbao', 'weather_icon_Bilbao', 'temp_Madrid',
       'temp_min_Madrid', 'temp_max_Madrid', 'pressure_Madrid',
       'humidity_Madrid', 'wind_speed_Madrid', 'wind_deg_Madrid',
       'rain_1h_Madrid', 'rain_3h_Madrid', 'snow_3h_Madrid',
       'clouds_all_Madrid', 'weather_id_Madrid', 'weather_main_Madrid',
       'weather_description_Madrid', 'weather_icon_Madrid', 'temp_Seville',
       'temp_min_Seville', 'temp_max_Seville', 'pressure_Seville',
       'humidity_Seville', 'wind_speed_Seville', 'wind_deg_Seville',
       'rain_1h_Seville', 'rain_3h_Seville', 'snow_3h_Seville',
       'clouds_all_Seville', 'weather_id_Seville', 'weather_main_Seville',
       'weather_description_Seville', 'weather_icon_Seville', 'temp_Valencia',
       'temp_min_Valencia', 'temp_max_Valencia', 'pressure_Valencia',
       'humidity_Valencia', 'wind_speed_Valencia', 'wind_deg_Valencia',
       'rain_1h_Valencia', 'rain_3h_Valencia', 'snow_3h_Valencia',
       'clouds_all_Valencia', 'weather_id_Valencia', 'weather_main_Valencia',
       'weather_description_Valencia', 'weather_icon_Valencia'],
      dtype='object')

In [4]:
columnas_energía = ['generation biomass', 'generation fossil brown coal/lignite',
       'generation fossil gas', 'generation fossil hard coal',
       'generation fossil oil', 'generation hydro pumped storage consumption',
       'generation hydro run-of-river and poundage',
       'generation hydro water reservoir', 'generation nuclear',
       'generation other', 'generation other renewable', 'generation solar',
       'generation waste', 'generation wind onshore']

columnas_lluvia = ["rain_1h_Barcelona","rain_1h_Bilbao","rain_1h_Madrid","rain_1h_Seville","rain_1h_Valencia"]

columna_precio = ["price actual"]

In [5]:
df['time']

0       2014-12-31 23:00:00+00:00
1       2015-01-01 00:00:00+00:00
2       2015-01-01 01:00:00+00:00
3       2015-01-01 02:00:00+00:00
4       2015-01-01 03:00:00+00:00
                   ...
35059   2018-12-31 18:00:00+00:00
35060   2018-12-31 19:00:00+00:00
35061   2018-12-31 20:00:00+00:00
35062   2018-12-31 21:00:00+00:00
35063   2018-12-31 22:00:00+00:00
Name: time, Length: 35064, dtype: datetime64[ns, UTC]

In [6]:
df_gr_energia_mean = df.groupby([df['time'].dt.year.rename('year'), df['time'].dt.month.rename('month')])[columnas_energía].mean().reset_index()
df_gr_energia_sum = df.groupby([df['time'].dt.year.rename('year'), df['time'].dt.month.rename('month')])[columnas_energía].sum().reset_index()
df_gr_precio = df.groupby([df['time'].dt.year.rename('year'), df['time'].dt.month.rename('month')])[columna_precio].mean().reset_index()
df_gr_lluvia = df.groupby([df['time'].dt.year.rename('year'), df['time'].dt.month.rename('month')])[columnas_lluvia].sum().reset_index()

In [7]:
df_gr_energia_mean['renovable'] = df_gr_energia_mean['generation hydro pumped storage consumption'] + df_gr_energia_mean['generation hydro run-of-river and poundage'] + df_gr_energia_mean['generation hydro water reservoir'] + df_gr_energia_mean['generation solar'] + df_gr_energia_mean['generation wind onshore'] + df_gr_energia_mean['generation other renewable']
df_gr_energia_mean['no_renovable'] = df_gr_energia_mean['generation biomass'] + df_gr_energia_mean['generation fossil brown coal/lignite'] + df_gr_energia_mean['generation fossil gas'] + df_gr_energia_mean['generation fossil hard coal'] + df_gr_energia_mean['generation fossil oil'] + df_gr_energia_mean['generation nuclear'] + df_gr_energia_mean['generation other'] + df_gr_energia_mean['generation waste']

In [8]:
df_gr_energia_sum['renovable'] = df_gr_energia_sum['generation hydro pumped storage consumption'] + df_gr_energia_sum['generation hydro run-of-river and poundage'] + df_gr_energia_sum['generation hydro water reservoir'] + df_gr_energia_sum['generation solar'] + df_gr_energia_sum['generation wind onshore'] + df_gr_energia_sum['generation other renewable']
df_gr_energia_sum['no_renovable'] = df_gr_energia_sum['generation biomass'] + df_gr_energia_sum['generation fossil brown coal/lignite'] + df_gr_energia_sum['generation fossil gas'] + df_gr_energia_sum['generation fossil hard coal'] + df_gr_energia_sum['generation fossil oil'] + df_gr_energia_sum['generation nuclear'] + df_gr_energia_sum['generation other'] + df_gr_energia_sum['generation waste']

In [9]:
def construct_path(year, month):
    return f'{year:d}/{month:02d}'

In [10]:
df_gr_energia_mean['date'] = df_gr_energia_mean.apply(lambda x: construct_path(int(x['year']),int(x["month"])), axis=1)
df_gr_energia_sum['date'] = df_gr_energia_sum.apply(lambda x: construct_path(int(x['year']),int(x["month"])), axis=1)
df_gr_precio['date'] = df_gr_precio.apply(lambda x: construct_path(int(x['year']),int(x["month"])), axis=1)
df_gr_lluvia['date'] = df_gr_lluvia.apply(lambda x: construct_path(int(x['year']),int(x["month"])), axis=1)

In [11]:
df_gr_lluvia['total'] = df_gr_lluvia.apply(lambda x: x['rain_1h_Barcelona']+x['rain_1h_Bilbao']+x['rain_1h_Madrid']+x['rain_1h_Seville']+x['rain_1h_Valencia'], axis=1)

In [12]:
df_gr_energia_mean.set_index("date")
df_gr_energia_sum.set_index("date")
df_gr_precio.set_index("date")
df_gr_lluvia.set_index("date")

,year,month,rain_1h_Barcelona,rain_1h_Bilbao,rain_1h_Madrid,rain_1h_Seville,rain_1h_Valencia,total
date,,,,,,,,
2014/12,2014,12,0.0,0.0,0.0,0.0,0.00,0.00
2015/01,2015,1,64.8,382.5,25.8,40.2,10.20,523.50
2015/02,2015,2,218.1,487.8,29.4,24.6,25.20,785.10
2015/03,2015,3,261.0,397.8,134.1,152.7,360.30,1305.90
2015/04,2015,4,45.0,141.3,84.3,111.9,47.40,429.90
2015/05,2015,5,33.3,378.9,6.9,6.9,15.00,441.00
2015/06,2015,6,163.5,144.0,22.5,9.6,49.80,389.40
2015/07,2015,7,77.1,26.1,0.9,3.6,8.40,116.10
2015/08,2015,8,148.5,24.6,3.6,1.8,39.00,217.50
2015/09,2015,9,181.8,37.5,9.0,5.7,35.10,269.10
2015/10,2015,10,56.4,85.8,22.2,55.5,28.80,248.70
2015/11,2015,11,30.0,75.6,26.1,21.0,33.30,186.00
2015/12,2015,12,10.8,15.9,11.1,12.6,11.70,62.10
2016/01,2016,1,11.1,84.0,44.4,39.0,12.60,191.10
2016/02,2016,2,24.6,137.1,28.5,26.7,6.90,223.80
2016/03,2016,3,21.9,111.3,36.6,27.3,17.70,214.80
2016/04,2016,4,54.3,69.9,63.0,39.0,43.80,270.00
2016/05,2016,5,90.3,55.8,45.3,75.9,44.24,311.54
2016/06,2016,6,1012.5,57.9,7.8,0.0,8.10,1086.30
2016/07,2016,7,267.6,38.7,6.0,1.2,6.90,320.40
2016/08,2016,8,19.2,34.2,14.7,0.0,8.40,76.50
2016/09,2016,9,81.6,83.4,2.1,3.9,37.50,208.50
2016/10,2016,10,106.2,52.5,55.2,54.9,51.60,320.40
2016/11,2016,11,40.2,77.4,75.0,47.1,30.60,270.30
2016/12,2016,12,39.6,20.4,24.6,38.1,37.20,159.90
2017/01,2017,1,44.1,63.0,9.9,11.1,39.90,168.00
2017/02,2017,2,40.8,57.3,43.2,57.3,17.10,215.70
2017/03,2017,3,44.1,43.8,18.6,53.1,12.60,172.20
2017/04,2017,4,41.7,30.3,21.0,21.9,7.50,122.40
2017/05,2017,5,17.1,29.1,30.9,27.9,0.30,105.30
2017/06,2017,6,13.8,31.5,20.4,0.3,3.60,69.60
2017/07,2017,7,10.8,31.8,17.4,2.7,1.80,64.50
2017/08,2017,8,16.5,34.2,14.4,6.6,10.80,82.50
2017/09,2017,9,33.3,48.6,0.0,0.6,1.80,84.30
2017/10,2017,10,40.5,21.3,14.7,13.2,2.10,91.80
2017/11,2017,11,14.4,76.2,9.3,26.7,5.70,132.30
2017/12,2017,12,12.3,99.3,15.0,17.4,0.00,144.00
2018/01,2018,1,30.6,81.3,37.8,32.4,4.80,186.90
2018/02,2018,2,60.6,92.7,35.7,19.8,25.20,234.00
2018/03,2018,3,48.0,68.7,131.4,141.3,9.30,398.70
2018/04,2018,4,32.1,79.2,60.9,41.7,8.10,222.00
2018/05,2018,5,26.7,54.6,59.1,12.9,2.40,155.70
2018/06,2018,6,21.6,28.2,38.7,0.6,2.70,91.80
2018/07,2018,7,8.7,25.2,2.1,0.0,0.00,36.00
2018/08,2018,8,16.2,19.8,9.6,0.0,0.60,46.20
2018/09,2018,9,32.4,12.9,25.8,4.2,5.40,80.70
2018/10,2018,10,78.0,48.9,55.8,64.8,41.40,288.90
2018/11,2018,11,57.0,53.7,55.8,76.5,32.10,275.10
2018/12,2018,12,3.3,26.1,11.7,10.2,3.30,54.60

In [14]:
df_gr_energia_mean_y = df.groupby([df['time'].dt.year.rename('year')])[columnas_energía].mean().reset_index()
df_gr_energia_sum_y = df.groupby([df['time'].dt.year.rename('year')])[columnas_energía].sum().reset_index()
df_gr_precio_y = df.groupby([df['time'].dt.year.rename('year')])[columna_precio].mean().reset_index()
df_gr_lluvia_y = df.groupby([df['time'].dt.year.rename('year')])[columnas_lluvia].sum().reset_index()

In [15]:
df_gr_energia_mean_y['renovable'] = df_gr_energia_mean_y['generation hydro pumped storage consumption'] + df_gr_energia_mean_y['generation hydro run-of-river and poundage'] + df_gr_energia_mean_y['generation hydro water reservoir'] + df_gr_energia_mean_y['generation solar'] + df_gr_energia_mean_y['generation wind onshore'] + df_gr_energia_mean_y['generation other renewable']
df_gr_energia_mean_y['no_renovable'] = df_gr_energia_mean_y['generation biomass'] + df_gr_energia_mean_y['generation fossil brown coal/lignite'] + df_gr_energia_mean_y['generation fossil gas'] + df_gr_energia_mean_y['generation fossil hard coal'] + df_gr_energia_mean_y['generation fossil oil'] + df_gr_energia_mean_y['generation nuclear'] + df_gr_energia_mean_y['generation other'] + df_gr_energia_mean_y['generation waste']

In [16]:
df_gr_lluvia_y['total'] = df_gr_lluvia_y.apply(lambda x: x['rain_1h_Barcelona']+x['rain_1h_Bilbao']+x['rain_1h_Madrid']+x['rain_1h_Seville']+x['rain_1h_Valencia'], axis=1)

In [17]:
df_gr_energia_mean_y.set_index("year")
df_gr_energia_sum_y.set_index("year")
df_gr_precio_y.set_index("year")
df_gr_lluvia_y.set_index("year")

,rain_1h_Barcelona,rain_1h_Bilbao,rain_1h_Madrid,rain_1h_Seville,rain_1h_Valencia,total
year,,,,,,
2014,0.0,0.0,0.0,0.0,0.00,0.00
2015,1290.3,2197.8,375.9,446.1,664.20,4974.30
2016,1769.1,822.6,403.2,353.1,305.54,3653.54
2017,329.4,566.4,214.8,238.8,103.20,1452.60
2018,415.2,591.3,524.4,404.4,135.30,2070.60

In [18]:
df_gr_lluvia_y

,year,rain_1h_Barcelona,rain_1h_Bilbao,rain_1h_Madrid,rain_1h_Seville,rain_1h_Valencia,total
0,2014,0.0,0.0,0.0,0.0,0.00,0.00
1,2015,1290.3,2197.8,375.9,446.1,664.20,4974.30
2,2016,1769.1,822.6,403.2,353.1,305.54,3653.54
3,2017,329.4,566.4,214.8,238.8,103.20,1452.60
4,2018,415.2,591.3,524.4,404.4,135.30,2070.60

In [19]:
df_gr_lluvia_y.to_csv("df_gr_lluvia_y.csv")

In [24]:
df_gr_lluvia.to_csv("df_gr_lluvia.csv")

In [20]:
df_gr_energia_mean_y.to_csv("df_gr_energia_mean_y.csv")

In [21]:
df_gr_precio.to_csv("df_gr_precio.csv")

In [22]:
df_gr_precio_y.to_csv("df_gr_precio_y.csv")

In [23]:
df_gr_precio_y

   year  price actual
0  2014     65.410000
1  2015     61.359949
2  2016     47.438307
3  2017     59.321965
4  2018     63.444265